.search-input, .search-input:focus{
    width: 30%;
    height: 30px;
    margin-left: 138px;
    margin-top: 20px;
    border: 1px solid #ddd;
    font-size: 16px;
    line-height: 1.6rem;
    padding: 0;
    position: absolute;
}

.search-input::placeholder{
    color: #ddd;
    padding-left: 5px;
}