.letter{
    /*margin: 30px auto;*/
    width: 40vw;
    height: auto;
}
.letter-inner{
    width: 38vw;
    height: 48vh;
    margin: auto;
}
.letter-title {
    height: 40px;
    display: flex;
    align-items: center;
}
.service-line{
    color: #a0a0a0;
    width: 60px;
}
.answer-letter{
    resize: none;
    width: 100%;
    height: auto;
    min-height: 100px;
    border: 1px solid #dddddd;
    margin-top: 10px;
}
.answer-letter:focus{
    outline: 1px solid #a0a0a0;
}
.letter-title .back-icon {
    background-size: cover;
    width: 19px;
    height: 16px;
    display: inline-block;
    margin-right: 10px;
    margin-left: auto;
}
.icon-answered{
    background: url("../../MailList/img/recycle1.svg") center center no-repeat;
}
.letter-buttons{
    border-radius: 5px;
    border: none;
    width: 15%;
    height: 7%;
}
.letter-buttons:focus{
    outline: none;
}
.ignore-button{
    margin-left: 100px;
    background-color: transparent;
    border: 1px solid #a0a0a0;
    color: #a0a0a0;
}
.send-button{
    background-color: #a0a0a0;
    border: 1px solid #a0a0a0;
    color: #fff;
}
.ignore-only{
    margin-left: 0;
}

@media screen and (max-width: 710px){
    .letter{
       width: 100%;
       margin-bottom: 50px;
    }
    .letter-inner{
        width: 98%;
        height: auto;
    }
    .answer-letter {
        width: 98%;
    }
    .incoming-letter{
        height: 25vh;
        overflow: scroll;
    }
    .letter-buttons{
        width: 20vw;
        height: 3.5vh;
    }
    .send-button {
        background-color: #FF6347;
        border: 1px solid #FF6347;
    }
    .ignore-button{
        border: 1px solid #FF6347;
        color: #FF6347;
    }
    .answer-letter:focus{
        outline: 1px solid #FF6347;
    }
}