.mail-list{
    width: 90%;
    margin-left: 80px;
    margin-top: 20px;
}
.delete-chosen{
    color: #eee;
    border: none;
    background-color: transparent;
    transition: color .5s;
}
.delete-chosen:focus{
    outline: none;
}
.chosen-active{
    color: #a8a8a8;
    cursor: pointer;
}
.marked{
    background-color: #dddddd;
}
.main-region .letter-checkbox{
    display: block;
    -webkit-appearance: none;
    width: 14px;
    height: 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
    position: relative;
    transition: .2s;
    margin-right: 30px;
}
.letter-checkbox:checked{
    border: 1px solid #a0a0a0;
}
.letter-checkbox:checked:before{
    content: '';
    width: 3px;
    height: 8px;
    top: 0;
    left: 4px;
    background-color: transparent;
    border: 1px solid #a0a0a0;
    position: absolute;
    border-left: none;
    border-top: none;
    transform: rotate(45deg);
}
.group-checkbox{
    margin-left: 15px;
}
@media screen and (max-width: 710px){
    .mail-list{
        width: 100%;
        margin-left: 0;
        margin-top: 0;
    }
}
